<div class="contenedor-bio slide-in" id="inicio">
  <img src="./assets/img/perfil.png" class="profile-picture">
  <div class="title">
    <h1>Lucas Alegre</h1>
    <hr>
  </div>
  <div class="bio">
    <p>Estudiante analista programador computacional cursando cuarto semestre, con un excelente promedio académico y
      gran capacidad de aprendizaje.
      Desde pequeño he sido acérrimo a la tecnología y creación de esta. Me he desenvuelto independientemente durante 2
      años trabajando con hardware y software, manutención, ensamblado y orientación del cliente. Siempre destacando en
      la atención y eficiencia.
      <br>
      Puedo definirme como una persona proactiva, puntual, atenta, siempre en busca de desafíos. Adquiero información
      muy rápidamente y ofrezco mi apoyo en cualquier tipo de ambiente laboral, suelo tomar el rol de liderazgo.
      <br>
      Creo que lo más importante en un equipo de trabajo es la cercanía, ya que el verdadero respeto y compromiso
      nace de un vínculo estable.
    </p>
  </div>
</div>

<div class="perfil">
  <div id="carouselExampleControls" class="carousel carousel-custom slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="perfil-item">
          <h5>Lenguajes</h5>
          <hr>
          <ul>
            <li *ngFor="let language of progLanguages"><i class="{{language.icon}}"></i> {{language.name}}</li>
          </ul>
        </div>
      </div>
      <div class="carousel-item">
        <div class="perfil-item">
          <h5>Frameworks</h5>
          <hr>
          <ul>
            <li *ngFor="let framework of frameworks"><i class="{{framework.icon}}"></i> {{framework.name}}</li>
          </ul>
        </div>
      </div>
      <div class="carousel-item">
        <div class="perfil-item">
          <h5>Herramientas</h5>
          <hr>
          <ul>
            <li *ngFor="let software of softwares"><i class="{{software.icon}}"></i> {{software.name}}</li>
          </ul>
        </div>
      </div>
      <div class="carousel-item">
        <div class="perfil-item">
          <h5>SO</h5>
          <hr>
          <ul>
            <li *ngFor="let os of operationSystems"><i class="{{os.icon}}"></i> {{os.name}}</li>
          </ul>
        </div>
      </div>
      <div class="carousel-item">
        <div class="perfil-item">
          <h5>Base de datos</h5>
          <hr>
          <ul>
            <li *ngFor="let db of databases"><i class="{{db.icon}}"></i> {{db.name}}</li>
          </ul>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="perfil-item conocimientos">
    <h5>Mis conocimientos</h5>
    <hr>
    <ul>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dapibus nisl non vestibulum malesuada. Curabitur
        suscipit purus eu fermentum iaculis. Duis ac quam vitae tortor suscipit varius. Integer augue augue, accumsan eu
        orci eget, consequat ullamcorper dolor. In ornare, orci auctor varius tincidunt, justo mi facilisis leo, non
        vestibulum tellus massa sed tortor.
      </li>
    </ul>
  </div>
</div>

<div class="contenedor-bio">
  <h5>Historial laboral</h5>
  <div class="job-list">
    <div *ngFor="let job of jobs; index as x" class="job">
      <h2 class="job-title">{{job.position}}</h2>
      <h2 class="job-company">{{job.company}}</h2>
      <p class="job-dates">{{job.dateStart | date:'dd-MM-yyyy'}} - {{job.dateEnd | date:'dd-MM-yyyy'}}</p>
      <p class="job-description">{{job.description}}</p>
    </div>
  </div>
</div>

<div class="projects">
  <div class="projects-carousel">
<div id="carouselExampleIndicators" class="carousel slide carousel-fade">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/img/background-low.jpg" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../assets/img/background-clouds.gif" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../assets/img/background.jpg" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<div class="projects-content">
  <h2 class="job-title">aaaaa</h2>
  <h2 class="job-company">aaaa</h2>
  <p class="job-dates">aaaaa</p>
  <p class="job-description">aaaaa</p>
</div>
</div>

<div class="form">
  <h1 class="text-center">Contáctame</h1>
  <hr>
  <form (ngSubmit)="onSubmit($event)" [formGroup]="form">

    <!-- FROM NAME -->
    <div class="form-group">
      <label for="from_name" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="from_name" name="from_name" formControlName="from_name">
      <div class="invalid-feedback">Por favor ingrese su nombre</div>
    </div>

    <!-- FROM_NAME ERRORS -->
    <div *ngIf="f['from_name'].touched && f['from_name'].invalid" class="alert alert-danger">
      <div *ngIf="f['from_name'].errors && f['from_name'].errors['required']" class="slide-in">Rellene el campo.</div>
      <div *ngIf="f['from_name'].errors && f['from_name'].errors['minlength']">El nombre debe tener al menos 3 letras.
      </div>
    </div>

    <!-- FROM EMAIL -->
    <div class="form-group">
      <label for="from_email" class="form-label">Correo</label>
      <input type="email" class="form-control" id="from_email" name="from_email" formControlName="from_email">
    </div>

    <!-- FROM EMAIL ERRORS -->
    <div *ngIf="f['from_email'].touched && f['from_email'].invalid" class="alert alert-danger">
      <div *ngIf="f['from_email'].errors && f['from_email'].errors['required']">Rellene el campo.</div>
      <div *ngIf="f['from_email'].errors && f['from_email'].errors['email']">Ingrese un correo válido.</div>
    </div>

    <!-- MESSAGE -->
    <div class="form-group">
      <label for="message" class="form-label">Mensaje</label>
      <textarea class="form-control" id="message" name="message" formControlName="message"></textarea>
    </div>
    <!-- MESSAGE ERRORS -->
    <div *ngIf="f['message'].touched && f['message'].invalid" class="alert alert-danger">
      <div *ngIf="f['message'].errors && f['message'].errors['required']">Rellene el campo.</div>
    </div>
    <div class="d-grid gap-2">
      <button id="submit-btn" type="submit" class="btn btn-primary btn-lg btn-block"
        [disabled]="form.invalid">Enviar</button>
    </div>
  </form>
</div>

<footer>
  <nav>
    <ul class="lineone">
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Perfil</a></li>
      <li><a href="#">Experiencia</a></li>
      <li><a href="#">Proyectos</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
    <br>
    <ul class="linetwo">
      <li *ngFor="let redes of redes"><a target=”_blank” href="{{ redes.link }}"><i class="{{redes.icon}}"></i>
          {{redes.name }}</a></li>
    </ul>
  </nav>
</footer>