.profile-picture {
  border-radius: 50%;
  width: 220px;
  height: 220px;
  margin: 30px auto;
  clip-path: circle(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  position: relative;
  transform: translate(-0%, -50%);
  box-shadow: 0px 0px 10px 5px rgba(54, 53, 53, 0.15);
  border: 5px solid white;
}

.container {
  border-radius:0.5%;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
  margin-top: 80px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;

}

.title {
  transform: translate(-0%, -150%);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 767px) {
  .profile-picture {
    width: 200px;
    height: 200px;
  }
  .container {
    width: 95%;
  }
}