body {
    background-color: #ddd;
    background-image: 
      linear-gradient(rgba(8, 8, 51, 0.795), rgba(5, 4, 26, 0.877)), 
      url(https://media1.giphy.com/media/JCwpJ463XondnALQVo/giphy.gif?cid=790b761180c0728b36a6d60eab498b316036020a9ed0776b&rid=giphy.gif&ct=g), 
      url(https://i.pinimg.com/170x/14/ce/dc/14cedc4a21a888f21da4acad374cf2a0.jpg);
    background-size: 
      100% 100%, 
      100% 40%, 
      cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;

  }

.custom-nav {
  background-color: #2421219d;
}